@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Roboto:wght@100..900&display=swap');


header {
    display: flex;
    padding: 1rem;
    margin: 2.5rem;

    justify-content: center;
   
    color: var(--medium-blue);
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}


footer{
    padding-bottom: 1.4rem;

    width: 100%;

    background-color: var(--medium-blue);
}

.caracts-carro {
    display: grid;
    grid-auto-flow: column;     
    grid-auto-columns: auto;      
    background-color: var(--white);
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;

    padding-bottom: 0.5rem;
  }
  
  .caract {
    display: grid;   
    grid-template-rows: auto auto; 
  }

  .caract  h3,
  .caract span{
    padding: 2rem;
    margin-bottom: 0.1rem;

    font-size: 1.5rem;
  }
  
  .caract h3{
    background-color: var(--medium-blue);
    color: var(--white);

    font-weight: 300;

    border: 1px solid var(--dark-blue);

  }

  .caract.cod span{
    margin: 2rem;
    padding: 0rem;

    border: 1px solid var(--black);
    
    text-align: center;
    font-weight: 500;
  } 


  .caract span {
    display: block;  

    background-color: var(--white);
    color: var(--black);
    
    font-weight: bold;
    
    border: 1px solid var(--blue-dark);
  }
  
