<header>
    <h1>Dashboard FORD</h1>
</header>



<footer>
    <div class="caracts-carro">
        <div class="caract cod">
            <h3>Codigo - Vin</h3>
            <span>ono2dnpn3dpod2dp</span>
        </div>
        <div class="caract">
            <h3>Odômetro</h3>
            <span>50000</span>
        </div>    
        <div class="caract">
            <h3>Nivel do Combustivel</h3>
            <span>90%</span>
        </div>    
        <div class="caract">
            <h3>Status</h3>
            <span>on</span>
        </div>    
        <div class="caract">
            <h3>Let.</h3>
            <span>-12,222</span>
        </div>
        <div class="caract">
            <h3>Long</h3>
            <span>-35,2314</span>
        </div>
    </div>
</footer>