<header>
    <h1>Dashboard FORD</h1>
</header>

<main>
    <div>
        <div>
            <h2>Veiculo</h2>
        </div>  
        <div>
            <h2>Total de Vendas</h2>
            <p>Unid.</p>
        </div>
        <div>
            <h2>Total de Vendas</h2>
            <p>Unid.</p>
        </div>
        <div>
            <h2>
                Update Software
            </h2>
            <p>Unid.</p>
        </div>
    </div>
</main>

<footer>
    <div>
        <p>Codigo - Vin</p>
        <h3></h3>
    </div>
    <div>
        <p>Codigo - Vin</p>
        <h3></h3>
    </div>
    <div>
        <p>Odômetro</p>
        <h3></h3>
    </div>    <div>
        <p>Nivel do Combustivel</p>
        <h3></h3>
    </div>    <div>
        <p>Status</p>
        <h3></h3>
    </div>    <div>
        <p>Long</p>
        <h3></h3>
    </div>
</footer>