<header>
    <h1>Dashboard FORD</h1>
</header>

<main>
    <div class="container">
        <div class="infocar select">
            <h2>Veículo</h2>
            <div class="select-carros">
                <select name="carros" id="car">
                    <option selected disabled value=""></option>
                    <option>Ranger</option>
                    <option>Mustang</option>
                    <option>Territory</option>
                    <option >Bronco Sport</option>
                </select>
            </div>
        </div>  
        <div class="infocar">
            <h2>Total de Vendas</h2>
            <section>
                <p>1500</p>
                <span>Unid.</span>  
            </section>
        </div>
        <div class="infocar">
            <h2>Conectados</h2>
            <section>
                <p>1500</p>
                <span>Unid.</span>  
            </section>
        </div>
        <div class="infocar">
            <h2>Update Software</h2>
            <section>
                <p>1500</p>
                <span>Unid.</span>  
            </section>
        </div>
    </div>
    <img src="assets/img/png/mustang.png" alt="Mustang">
</main>

<footer>
    <div class="caracts-carro">
        <div class="caract cod">
            <h3>Codigo - Vin</h3>
            <span>ono2dnpn3dpod2dp</span>
        </div>
        <div class="caract">
            <h3>Odômetro</h3>
            <span>50000</span>
        </div>    
        <div class="caract">
            <h3>Nivel do Combustivel</h3>
            <span>90%</span>
        </div>    
        <div class="caract">
            <h3>Status</h3>
            <span>on</span>
        </div>    
        <div class="caract">
            <h3>Let.</h3>
            <span>-12,222</span>
        </div>
        <div class="caract">
            <h3>Long</h3>
            <span>-35,2314</span>
        </div>
    </div>
</footer>