<main>
    <div class="container">
        <div class="infocar select">
            <h2>Veículo</h2>
            <div class="select-carros">
                <select name="carros" id="car">
                    <option selected disabled value=""></option>
                    <option>Ranger</option>
                    <option>Mustang</option>
                    <option>Territory</option>
                    <option >Bronco Sport</option>
                </select>
            </div>
        </div>  
        <div class="infocar">
            <h2>Total de Vendas</h2>
            <section>
                <p>1500</p>
                <span>Unid.</span>  
            </section>
        </div>
        <div class="infocar">
            <h2>Conectados</h2>
            <section>
                <p>1500</p>
                <span>Unid.</span>  
            </section>
        </div>
        <div class="infocar">
            <h2>Update Software</h2>
            <section>
                <p>1500</p>
                <span>Unid.</span>  
            </section>
        </div>
    </div>
    <img src="assets/img/png/mustang.png" alt="Mustang">
</main>