
<main >
    <div class="interface">
        <div class="imagem-principal">
            <img src="assets/img/png/ranger.png" alt="Ford-Ranger">
        </div>
        <div class="interface-login">
            <img  src="assets/img/png/ford.png" alt="Logo-Ford">
            <div class="login">
                <h1>Bem Vindo </h1>
                <input type="email" placeholder="Login">
                <input type="text" placeholder="Senha">
                <button class="entrar"> Entrar</button>
            </div>
            
        </div>
    </div>
</main>